.finalizado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 67.5%;
  height: 80%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  border-radius: 15px;
}
.finalizado h1 {
  color: #252525;
  margin-bottom: 10px;
}
.finalizado h3 {
  color: whitesmoke;
  width: 80%;
  margin-bottom: 10px;
}
.finalizado h2 {
  font-size: xx-large;
}
@media screen and (max-width: 800px) {
  .finalizado {
    width: 90%;
  }
  .finalizado h3 {
    width: 95%;
  }
}
