.planos {
  display: flex;
  flex-direction: column;
  width: 67.5%;
  height: 80%;
}
.planos h1,
p {
  margin-left: 90px;
}
.opções {
  display: flex;
  margin-left: 15%;
}
.plano-padrão {
  width: 150px;
  height: 150px;
  border: 2px solid rgba(255, 145, 83, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #484848;
  color: whitesmoke;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.plano-escolhido {
  width: 150px;
  height: 150px;
  border: 2px solid rgba(255, 145, 83, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #252525;
  color: whitesmoke;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.plano-padrão:hover {
  background: #252525;
}
.plano-padrão h2 {
  color: rgba(255, 145, 83, 1);
}
.plano-padrão h2,
.plano-padrão h3,
.plano-padrão h4,
.plano-padrão h6 {
  cursor: pointer;
}
.plano-escolhido h2 {
  color: rgba(255, 145, 83, 1);
}
.plano-escolhido h2,
.plano-escolhido h3,
.plano-escolhido h4,
.plano-escolhido h6 {
  cursor: pointer;
}
.opções h6 {
  color: rgba(255, 209, 67, 1);
}
.tempo {
  display: flex;
  margin-left: 90px;
  width: 75%;
  justify-content: center;
  margin-top: 3%;
}
.padrão-btn {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  margin-right: 10px;
  margin-left: 10px;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
  background: #252525;
  color: whitesmoke;
  transition: 0.2s;
}
.escolhido-btn {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  margin-right: 10px;
  margin-left: 10px;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  transition: 0.2s;
}
.próximo-button {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  margin-top: 508px;
  margin-left: 390px;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
  position: absolute;
}
.próximo-button:hover {
  background: #252525;
  color: rgba(255, 145, 83, 1);
  transition: 0.5s;
}
.voltar-button {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  margin-top: 508px;
  margin-left: 100px;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background: none;
  color: rgba(255, 145, 83, 1);
  border: 2px solid rgba(255, 145, 83, 1);
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
  position: absolute;
}
